@import "_Menu";


@keyframes shrinkAnimation {
    from {
        width: 300px;
    }

    to {
        width: 150px;
    }
}

@keyframes expandAnimation {
    from {
        width: 150px;
    }

    to {
        width: 300px;
    }
}

html,
body {
    background: #FAF1FC;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;

    #root {
        width: 100%;
        height: 100%;
        display: flex;

        .menu {
            width: 300px;
            background-color: #202B46;
            padding: 24px;
            animation: expandAnimation 0.2s ease-out;
        }

        .menu-small {
            animation: shrinkAnimation 0.5s ease-in-out forwards;
        }

        .contenido {
            flex-grow: 8;
        }
    }

}